.modal {
    padding: 4rem;
    background-color: rgb(193, 193, 193);
    border-radius: 0.5rem;
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 999;

}

.btn {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
}